# Análise Exploratória dos Dados 1

## Tratamento inicial dos dados
O arquivo que constitui a base de dados original possui um tamanho de aproximadamente 330 Mb, por conta de limitações do GitHub, onde só é permitido um arquivo de até [100 Mb](https://docs.github.com/en/github/managing-large-files/what-is-my-disk-quota), logo se faz necessário dividir o arquivo original em vários para poder adicionar os dados ao repositório remoto.

In [26]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/deputies_dataset.csv')

df

,bugged_date,receipt_date,deputy_id,political_party,state_code,deputy_name,receipt_social_security_number,receipt_description,establishment_name,receipt_value
0,0,2013-03-27 00:00:00,1772,PSB,SP,Abelardo Camarinha,3.530749e+12,Fuels and lubricants.,AUTO POSTO 314 NORTE LTDA,70
1,0,2013-07-24 00:00:00,1772,PSB,SP,Abelardo Camarinha,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,104
2,0,2013-02-17 00:00:00,1772,PSB,SP,Abelardo Camarinha,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,100
3,0,2013-03-15 00:00:00,1772,PSB,SP,Abelardo Camarinha,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,100
4,0,2013-01-27 00:00:00,1772,PSB,SP,Abelardo Camarinha,8.202116e+12,Fuels and lubricants.,AUTO POSTO AEROPORTO LTDA,77
...,...,...,...,...,...,...,...,...,...,...
3014897,0,2009-12-22 00:00:00,1712,PP,SC,Zonta,7.575651e+12,Airline tickets,Cia Aérea - GOL,993
3014898,0,2009-08-24 00:00:00,1712,PP,SC,Zonta,7.575651e+12,Airline tickets,Cia Aérea - GOL,588
3014899,0,2009-12-15 00:00:00,1712,PP,SC,Zonta,7.575651e+12,Airline tickets,Cia Aérea - GOL,773
3014900,0,2009-08-12 00:00:00,1712,PP,SC,Zonta,7.575651e+12,Airline tickets,Cia Aérea - GOL,508
3014901,0,2009-07-03 00:00:00,1712,PP,SC,Zonta,7.575651e+12,Airline tickets,Cia Aérea - GOL,528

Dividiremos o arquivo .csv original em um conjunto de arquivos onde cada um irá conter os dados de gastos para um determinado ano.

In [30]:
df['year'] = pd.to_datetime(df['receipt_date']).dt.year # Adicionar uma coluna com o ano do gasto

df[['receipt_date', 'year']]

                receipt_date  year
0        2013-03-27 00:00:00  2013
1        2013-07-24 00:00:00  2013
2        2013-02-17 00:00:00  2013
3        2013-03-15 00:00:00  2013
4        2013-01-27 00:00:00  2013
...                      ...   ...
3014897  2009-12-22 00:00:00  2009
3014898  2009-08-24 00:00:00  2009
3014899  2009-12-15 00:00:00  2009
3014900  2009-08-12 00:00:00  2009
3014901  2009-07-03 00:00:00  2009

[3014902 rows x 2 columns]

In [34]:
for year in df['year'].unique(): # Para cada ano na base de dados
    df[df['year'] == year].to_csv('data/' + str(year) + '.csv') # Salvar todas as entradas daquele ano em um arquivo .csv